NEXT_PUBLIC_SUPABASE_URL=https://crughgiwfhhbnpbzaifm.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImNydWdoZ2l3ZmhoYm5wYnphaWZtIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODkyMTY2NDUsImV4cCI6MjEwNDc5MjY0NX0.MfBbR3rfrBO3uJ95DlIUlykhl1ORJ6XM20OrAaCOos4
SUPABASE_SERVICE_ROLE_KEY=
